img
{
  width: 100px;
  height: 100px;
}

div{
  /*display: inline-block;*/
}

input{
  /*display: block;*/
}

table, th, td
{
  background-color: #c4e2ac;
  border: 1px solid #7a8273;
}

header{
  text-align: center;
  font-size: 50px;
  background-color: #ea6635;
  color: white;
}

p, form{
  font-family: helvetica;
}

